{% extends 'base_users.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}  Admin Login {% endblock %}
</head>
<body >
    {% block content %}
    <div class="w-full h-full justify-center items-center flex mt-10">
        <div class="w-11/12 md:w-4/5 lg:w-3/5 xl:w-1/2">
            <div class="justify-center flex w-full mb-10">
                    <img src="{% static 'img/signup.png' %}" alt="">
            </div>
            <div class="justify-center flex w-full mb-10">
                <h1 class="text-white font-extrabold text-2xl md:text-4xl">Admin Login</h1>
            </div>
            <form action="" method="post" class="p-10 bg-2a2a2a rounded-xl">   
                {% csrf_token %}     
                <input type="email" name="" id="email" required class="w-full bg-transparent  border-0 border-white border-b mt-20" placeholder="Email Address"><br>
                <input type="text" name="" id="phone_number" required class="w-full bg-transparent  border-0 border-white border-b mt-20" placeholder="Phone Number"><br>
                <input type="button" value="Register" onclick="sign_in()" class="mt-20 w-full h-12 bg-80ff44 rounded-lg" id="main_btn">     
                <button class="mt-20 w-full h-12 bg-80ff44 rounded-lg hidden justify-center items-center" id="loader_btn">
                    <div role="status">
                        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-black" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                    </div>
                </button>
                <p class="text-white mt-5 ">Not an admin? <a href="{% url 'users:register' %}" class="text-80ff44">Signup Here</a></p>
            </form>
        </div>
    </div>

    <div class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-50 z-50" id="error_box">
        <div class="bg-white rounded-lg p-8 max-w-md">
          <!-- Popup content -->
          <div class="text-lg font-semibold mb-4" id="error_titile">Error</div>
          <p id="error_tag"></p>
          <!-- Close button -->

          <button id="db_download" class="mt-6 px-4 py-2 bg-2a2a2a text-white rounded-md hover:bg-80ff44" onclick="closePopup()">Download registration record</button>
        </div>
      </div>
      <div class="fixed inset-0 items-center justify-center bg-white z-50 hidden" id="database">
        <div class="flex w-full justify-between">  
        </div>
        <div >
          <button class="h-10 w-28 bg-80ff44 rounded-lg right-0 absolute m-4" onclick="print()"><a href="{% url 'users:export_excel' %}">Download</a></button>
        </div>
        <div class="mt-20">
          {% for user in users %}
          <div class="bg-white mb-3 flex w-full justify-between p-4">
            {% if forloop.first %}
            <div class="w-1/4"><h1 class="font-bold text-2xl">Email</h1>
              {{user.email}}
            </div>
            <div class="w-1/4"><h1 class="font-bold text-2xl">Names</h1>
              {{user.first_name}} {{user.last_name}}
            </div>
            <div class="w-1/4"><h1 class="font-bold text-2xl">Phone Number</h1>
              {{user.phone_number}}
            </div>
            <div class="w-1/4"><h1 class="font-bold text-2xl">Date Registered</h1>
              {{user.date_joined}}
            </div>
          </div>
            {% else %}
            <div class="w-1/4">
              {{user.email}}
            </div>
            <div class="w-1/4">
              {{user.first_name}} {{user.last_name}}
            </div>
            <div class="w-1/4">
              {{user.phone_number}}
            </div>
            <div class="w-1/4">
              {{user.date_joined}}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      </div>
      <div>
    {% endblock %}
</body>
{% block script %}
<script src="{% static 'js/signin.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
</html>